.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  color: var(--primary-white);

  position: relative;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  cursor: pointer;

  align-self: flex-end;
}

.button:disabled {
  background-color: var(--cold-gray);
  color: var(--warm-gray);
  cursor: not-allowed;
}

.button:enabled:hover,
.button:enabled:focus {
  filter: brightness(110%);
}
