.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 600px;
    background-color: var(--highlight-color);
    border-radius: 6px;
    color: var(--primary-color);
}